@media only screen and (min-width: 768px) {
  .modalScreen {
    position: fixed;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
    top: 20%;
    left: calc(50% - 392px);
    width: 784px;
    /* height: 55%; */
    height: 42rem;
    padding: 0;
    margin: 0;
    background: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .modalScreen {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: #fff;
  }
}
@media only screen and (max-width: 769px) {
  .bottomPadding {
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 769px) {
  .testlabel {
    position: absolute;
    right: 0;
    padding: 8px;
    color: #fff;
    margin: 8px 8px 0px 0px;
  }
}
@media only screen and (max-width: 769px) {
  .testlabel {
    /* position: absolute;
    top: 22px;
    left: 0;
    padding: 8px;
    z-index: 10;
    color: #5d2e8e;
    margin: 8px 8px 0px 0px; */
    border: 1px solid #5d2e8e;
  }
}

.onHoverBar {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-bottom: 17px; /* Increase/decrease this value for cross-browser compatibility */
}
.onHoverBar::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0;
  background: transparent; /* Optional: just make scrollbar invisible */
}
.onHoverBar {
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: thin; /* IE 10+ */
  scrollbar-color: #5c2d91 #e2e2e2;
}

.onHoverBar::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 5px;
  background: #e2e2e2; /* Optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #5c2d91;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@media only screen and (min-width: 768px) {
  .iframeWidget {
    position: fixed;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .iframeWidget {
    position: absolute;
    top: 0%;
    left: 0%;
    background: #ffffff;
    width: 100%;
    height: 100%;
  }
}

:global(.ui.secondary.pointing.menu) :global(.active.item) {
  color: #5c2d91 !important;
  border-color: #faa61a;
}

:global(.ui.secondary.pointing.menu) :global(.active.item):hover {
  border-color: #faa61a;
}

:global(.ui.secondary.pointing.menu) :global(.item) {
  text-transform: uppercase;
}

:global(.ui.secondary.pointing.menu) {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .scrollTrigger {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .scrollTrigger {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    display: block;
    background-color: #000;
    color: #fff;
  }

  .Prev {
    position: absolute;
    display: block;
    color: rgba(0, 0, 0, 0.25);
    font-size: 32px;
    left: -5px;
    top: 13px;
    z-index: 8;
    padding: 0px;
    cursor: pointer;
  }
  .Next {
    position: absolute;
    top: 13px;
    display: block;
    color: rgba(0, 0, 0, 0.25);
    font-size: 32px;
    right: -12px;
    z-index: 8;
    padding: 0px;
    cursor: pointer;
  }
}

.onHoverBar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-color: #5c2d91 #e2e2e2;
}

.onHoverBar::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0;
  background: #e2e2e2; /* Optional: just make scrollbar invisible */
}

:global(.ui):global(.message) {
  box-shadow: none !important;
}
