{
  "presets": [
    [
      "es2015",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
